dag.enabled = true

params {
    output_dir = "results"
}

process {
    cpus = 1
    memory = '1 GB'
    time = '1h'
}

workDir = 'work'

profiles {
    local {
        process.executor = 'local'
    }

    hpc {
        process.executor = 'slurm'
        queue = 'larga'
        clusterOptions = '--ntasks=1'
    }
}
